div.a {
    text-align:center;
}
div.b {
    text-align:left;
}
div.c {
    text-align:justify;
}
div.d {
    text-align:justify;
}


img  {
    display:block;
    margin-left:auto;
    margin-left:auto;
} 

.topnav {
  
    background-color: #F9EAF2;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
   .topnav a {
    float: center;
    color: #151515;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #e7b1b1;
    color: rgb(20, 19, 19);
    border-radius: 20%;
  }
  
  .topnav a.active {
    background-color: #e7b1b1;
    color: rgb(28, 28, 28);
    border-radius: 20%;
    
  } 


