boby{
    margin: 0;
  padding: 0;
  background:url("https://i.pinimg.com/564x/7e/70/94/7e70943341f1bda125579c9512c8cac5.jpg");
  font-family: Arial, sans-serif;
  background-color: #fffcfc;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.h1{
    font-size: 32px;
   }