h1{
 font-size: 32px;
}

.img-user{
    width: 20px;
    height: 30px;
}

#name{

    width: 25%;
    padding: 12px 20px;
    display: inline-block; 
    border: 1px solid #ccc;
    border-radius: 10px; 
    box-sizing: border-box; 
    margin: 8px 0;
}