body {
    font-family: Arial, sans-serif;
    background:url("https://i.pinimg.com/564x/a2/98/8d/a2988d3561fcf4069dec47e3331e2158.jpg");
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    background-position: center;

}

.signup-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-position: center;
    margin-left: 20px; 
    margin-right: 20px;
    width: 30%;
    height: 50%;
    border-width: 40%;
    
    
}

h2 {
    margin: 0 0 20px;
    text-align: center;
}

.input-group {
    margin-bottom: 20px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #218838;
}
